*.sublime-project
*.sublime-workspace
todo.txt
reset-files.bash

*.tar.gz

*.exe
src/magocoin
src/magocoind
src/magocoin-cli
src/magocoin-tx
src/test/test_magocoin
src/qt/test/test_magocoin-qt


.deps
.dirstamp
.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
.magocoin
*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg

*.json.h
*.raw.h

#libtool object files
*.lo
*.la



# Unit-tests
Makefile.test
magocoin-qt_test
src/test/buildenv.py

# Resources cpp
qrc_*.cpp


# Mac specific
.DS_Store
build

#lcov
*.gcno
/*.info
test_magocoin.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
qa/pull-tester/run-bitcoind-for-test.sh
qa/pull-tester/tests-config.sh
qa/pull-tester/cache/*
qa/pull-tester/test.*/*

!src/leveldb*/Makefile

.cproject
.project
/doc/doxygen/
/nbproject/


